html {
  box-sizing: border-box;
  font-size: 18px;
}

body {
  margin: 0 auto;
  font-family: 'Arvo', serif;
}


h1 {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.large {
  display: flex;
  justify-content: center;
  width: 100%;
}

.box {
  display: flex;
  width: 50%;
}

.corps {
  position: relative;
  width: 50%;
}

.cercle {
  border: 1px solid rgb(27,214,214);
  position: absolute;
  border-radius: 50%;
  width: 43px;
  height: 43px;
  background-color: black;
  opacity: 0.5;
}

#epaule {
  top: 4.5rem;
  right: 5.5rem;
}

#coude {
  top: 10rem;
  right: -0.5rem;
}

#poignet {
  top: 12rem;
  right: 5.7rem;

}

#hanche {
  top: 13.5rem;
  right: 0.8rem;
}

#genou {
  bottom: 6rem;
  right: 3.8rem;
}

#cheville {
  bottom: 1.3rem;
  right: 1.5rem;
}

img {
  float: right;
}

.text {
  width: 50%;
  word-wrap: break-word;
  padding-top: 2rem;
  padding-left: 1.5rem;
  max-height: 400px;
  text-overflow: ellipsis;
}

.cercle:hover {
  background-color: rgb(27,214,214);
  width: 48px;
  height: 48px;
  transition-duration: 0.5s;
}
