body {
  margin: 0;
  font-family: 'Arvo', serif;
}

h1 {
  text-align: center;
}

.large {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  width: 1000px;
}

.corps {
  border: 2px solid blue;
}

.text {
  border: 2px solid green;
}
